{% extends "ATM/layout.html" %}
{% block content %}
<span class="message">{{ message }}</span>{{ content }}
    <form action="/admin/" method="post">
        <fieldset >
            <legend>New ATM Card Info</legend>
            Name: <input type = "text" name=" name"><br>
            Account Number: <input type = "text" name="accnum"><br>
            <input type="date"  name="dateissue" class="form-control"  
                    id="date" value="Date of Issue">
            <input type="date" name ="expdate"class="form-control" 
                    name="date" value="Expiration Date">
            Card Number: <input type = "text"  name="cardnum"><br>
            PIN Number: <input type = "text"  name="pinnum">

        </fieldset>
        <input type="submit" class="btn" value="Add">
        </form>
{% endblock %}